.tl_file_manager .nousage img {
  width: 16px;
  height: 16px;
}

.filemanager_container {
	width: 100%;
	overflow-x: auto;
}

.filemanager_container > div {
  padding: 10px;
}

.filemanager {
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;  
}

.filemanager_container .lastchecked,
.filemanager_container .deleting {
  margin-top: 10px;
}

.filemanager td, .filemanager th {
  padding: 20px 10px;
}

.filemanager_container button:disabled {
  color: #ccc;
}

thead td {
    background: #eee;
}

tbody td {
    border-bottom: 1px solid #eee;
}

.filemanager tr:hover td {
    background: #eee;
}

.filemanager_container button {
  height: 30px;
  padding: 7px 12px;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  background: #eee;
  transition: background .2s ease;
  margin-right: 10px;
}

.filemanager_container button:hover {
  cursor: pointer;
}